@charset "UTF-8";

#main_area {
	width: 100%;
	height: 650px;
}

#guide_alert {
	width: 500px;
	height: 500px;
	margin: auto;
	margin-top: 225px;
	padding-top: 100px;
	text-align: center;
	background-color: #7b9acc;
	border-radius: 30px;
}

#guide_alert p {
	padding-top: 20px;
	width: 300px;
	height: 100px;
	margin: auto;
	font: bold 40px 'Noto Sans KR';
	color: #FCF6F5;
	border-bottom: 3px solid #FCF6F5;
}

#found_ID {
	font: bold 35px 'Noto Sans KR';
	color: #FCF6F5;
	padding-top: 30px;
}

#pw_find {
	width: 300px;
	margin: auto;
	padding-top: 100px;
}

#pw_find a {
	text-decoration: none;
	color: #FCF6F5;
	font: bold 30px 'Noto Sans KR';
}

#pw_find a:hover {
	color: #5c87cb;
	cursor: pointer;
}